@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Verdana'; /* Задайте имя шрифта */
    src: url('/Verdana/Verdana.ttf') format('truetype'); /* Путь к файлу в public */
    font-weight: normal; /* Укажите вес шрифта, если нужно */
    font-style: normal; /* Укажите стиль, если нужно */
}

@font-face {
    font-family: 'Verdana'; /* Задайте имя шрифта */
    src: url('/Verdana/Verdana-Bold.ttf') format('truetype'); /* Путь к файлу в public */
    font-weight: bold; /* Укажите вес шрифта, если нужно */
    font-style: normal; /* Укажите стиль, если нужно */
}
@font-face {
    font-family: 'Verdana'; /* Задайте имя шрифта */
    src: url('/Verdana/Verdana-BoldItalic.ttf') format('truetype'); /* Путь к файлу в public */
    font-weight: bold; /* Укажите вес шрифта, если нужно */
    font-style: italic; /* Укажите стиль, если нужно */
}
@font-face {
    font-family: 'Verdana'; /* Задайте имя шрифта */
    src: url('/Verdana/Verdana-Italic.ttf') format('truetype'); /* Путь к файлу в public */
    font-weight: normal; /* Укажите вес шрифта, если нужно */
    font-style: italic; /* Укажите стиль, если нужно */
}

@layer base {
    html,
    body {
        font-family: 'Verdana'; /* Применяем шрифт через CSS */
    }
}
